@font-face {
    font-family: "NunitoSans";
    font-style: "Black";
    font-weight: 800;
    src: url("../../fonts/nunito-sans/NunitoSans-ExtraBold.ttf");
}

@font-face {
    font-family: "NunitoSans";
    font-style: "Regular";
    font-weight: 400;
    src: url("../../fonts/nunito-sans/NunitoSans-Regular.ttf");
}

@font-face {
    font-family: "NunitoSans";
    font-style: "ExtraLight";
    font-weight: 300;
    src: url("../../fonts/nunito-sans/NunitoSans-ExtraLight.ttf");
}

.introAIHeader {
    display: flex;
    justify-content: center;
    font-family: "NunitoSans";
    font-weight: 800;
    font-size: 58px;
    color: #ffffff;
}

.grid {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
    .introAITop {
        display: flex;
        .introAITopLeft {
            flex: 1.3;
            img {
                width: 100%;
                padding: 0 40px;
            }
        }
        .introAITopRight {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            span {
                color: white;
                &:nth-child(1) {
                    font-family: "NunitoSans";
                    font-style: "Black";
                    font-size: 40px;
                    font-weight: 800;
                    letter-spacing: 1px;
                }
                &:nth-child(2) {
                    font-family: "NunitoSans";
                    font-style: "Regular";
                    font-size: 20px;
                    max-width: 630px;
                    padding-top: 25px;
                    font-weight: 300;
                    letter-spacing: 0.4px;
                }
            }
        }
    }
    .introAIBottom {
        display: flex;
        .introAIBottomLeft {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            span {
                color: white;
                text-align: right;
                &:nth-child(1) {
                    font-family: "NunitoSans";
                    font-style: "Black";
                    font-size: 40px;
                    font-weight: 800;
                    letter-spacing: 1px;
                }
                &:nth-child(2) {
                    // justify-self: end;
                    font-family: "NunitoSans";
                    font-style: "Regular";
                    font-size: 20px;
                    max-width: 640px;
                    padding-top: 25px;
                    font-weight: 300;
                    letter-spacing: 0.4px;
                }
            }
        }
        .introAIBottomRight {
            flex: 1.3;
            color: white;
            img {
                width: 100%;
                padding: 0 40px;
            }
        }
    }
}

@media (max-width: 992px) {
    .introAIHeader {
        font-size: 42px !important;
        text-align: center;
    }
    .grid {
        .introAITop {
            // padding-top: 20px;
            flex-direction: column;
            .introAITopLeft {
                img {
                    padding: 0 0;
                }
            }
            .introAITopRight {
                align-items: center;
                padding-inline: 10px;
                span {
                    text-align: center !important;
                    &:first-child {
                        font-size: 30px;
                    }
                }
            }
        }
        .introAIBottom {
            flex-direction: column-reverse;
            padding-top: 20px;
            .introAIBottomLeft {
                padding-inline: 10px;
                align-items: center;
                span {
                    text-align: center !important;
                    &:first-child {
                        font-size: 30px;
                    }
                }
            }
            .introAIBottomRight {
                padding: 0 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .grid {
        .introAIHeader {
            font-size: 36px !important;
            justify-content: center !important;
            align-items: center !important;
        }
        .introAITop {
            padding-top: 20px;
            flex-direction: column;
            .introAITopRight {
                align-items: center;
                padding-inline: 10px;
                span {
                    text-align: center !important;
                    &:nth-child(1) {
                        font-size: 24px !important;
                    }
                    &:nth-child(2) {
                        font-size: 16px !important;
                    }
                }
            }
        }
        .introAIBottom {
            flex-direction: column-reverse;
            padding-top: 20px;
            .introAIBottomLeft {
                padding-inline: 10px;
                align-items: center;
                span {
                    text-align: center !important;
                    &:nth-child(1) {
                        font-size: 24px !important;
                    }
                    &:nth-child(2) {
                        font-size: 16px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 360px) {
    .grid {
        .introAIHeader {
            font-size: 36px !important; /*needs change */
            justify-content: center !important;
            align-items: center !important;
        }
        .introAITop {
            padding-top: 20px;
            flex-direction: column;
            .introAITopRight {
                align-items: center;
                padding-inline: 10px;
                span {
                    text-align: center !important;
                    &:nth-child(1) {
                        font-size: 20px !important;
                    }
                    &:nth-child(2) {
                        font-size: 12px !important;
                    }
                }
            }
        }
        .introAIBottom {
            flex-direction: column-reverse;
            padding-top: 20px;
            .introAIBottomLeft {
                padding-inline: 10px;
                align-items: center;
                span {
                    text-align: center !important;
                    &:nth-child(1) {
                        padding-top: 5px !important;
                        font-size: 20px !important;
                    }
                    &:nth-child(2) {
                        padding-top: 5px !important;
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
}
