@font-face {
    font-family: "Inter";
    font-style: "Black";
    font-weight: 800;
    src: url("../../fonts/inter/Inter-Black.otf");
}
@font-face {
    font-family: "Inter";
    font-style: "Regular";
    font-weight: 400;
    src: url("../../fonts/inter/Inter-Regular.otf");
}
@font-face {
    font-family: "Inter";
    font-style: "SemiBold";
    font-weight: 600;
    src: url("../../fonts/inter/Inter-SemiBold.otf");
}

.styledDivWrapper {
    padding: 0;
    margin: 0;

    background: url("./styledDivs/styledDivTop.svg");
    background-size: 100%;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 345px;
    margin-left: 100px;
    padding: 15px 5px;
    padding-bottom: 0px;
    
    .captionTxt {
        font-family: "Inter";
        font-weight: 800;
        font-size: 48px;
        justify-content: center;
    }
    .bodyTxt {
        padding-top: 2px;
        font-family: "Inter";
        font-size: 29px;
        font-weight: 400;
        width: 345px;
        background-color: white;
    }
}

.endingWrapper{
    background: url('./styledDivs/styledDivFooter.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    
    max-width: 345px;
    height: 20px;
    margin-left: 100px;
}
