@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.navbar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  margin-top: 20px;
  padding: 10px 0px;
  background-color: black;


  .navabarLogo {
    margin-left: 150px;
    background-color: transparent;
    
    img {
        width: 100px;
        cursor: pointer;
        transition: all 0.4s ease-in-out; 
    }
    div{
        position: absolute;
        top: 45px;
        left: 150px;
        color: black;
        transition: all 0.2s ease-in-out; 
        z-index: -1;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        
    }

    &:hover{
        div{
            transform: translateX(80px);
            color: white;
        }
        img{
            transform: translateX(-20px);
        }
    }
}

.navbarElements {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    list-style: none;
    margin-right: 65px;
    
    li {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        margin: 0rem 2rem 0rem 2rem;
        text-shadow: 0px 4px 7px rgba(255, 255, 255, 0.28);
        transition: all 0.2s ease-in-out;
        
        &:hover {
            color: #B7CCFF;
            font-family: ;
            
        }
        a {
            text-decoration: none;
            color: white;
            
      }
    }
  }
}
