@font-face {
    font-family: "Inter";
    font-style: "Black";
    font-weight: 800;
    src: url("../../fonts/inter/Inter-Black.otf");
}
@font-face {
    font-family: "Inter";
    font-style: "Regular";
    font-weight: 400;
    src: url("../../fonts/inter/Inter-Regular.otf");
}
@font-face {
    font-family: "Inter";
    font-style: "SemiBold";
    font-weight: 600;
    src: url("../../fonts/inter/Inter-SemiBold.otf");
}

.whyUsDivWrapper{
    width: 340px;
    // height: 172px;
    background-color: black;
    // margin: 30px 0;
    font-size: 16px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    border-radius: 3px;
    .whyUsDivTop{
        margin-bottom: 20px;
        p{
            text-align: center;
            font-weight: 600;
        }
    }
    .whyUsDivBottom{
        font-family: "Inter";
        display: flex;
        justify-content: space-between;
        :nth-child(1){
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            img{
                height: 40px;
                background-color: white;
                border-radius: 50%;
                margin-right: 15px;
            }
            p{
                text-align: left;
            }
        }
        :nth-child(2){
            display: flex;
            img{
                display: flex;
                max-height: 60px;
                max-width: 60px;
                object-fit: contain;
                margin-left: 15px;
            }
        }
    }
}