@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
    font-family: "glitch-city";
    src: url("../../fonts/glitch-city.ttf");
}

.navbar {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    margin-top: 40px;
    padding: 10px 0px;
    background-color: black;
    z-index: 10000;
    font-size: calc(16 + 0.1vw);
    .navabarLogo {
        margin-left: 150px;
        background-color: transparent;

        img {
            width: 100px;
            cursor: pointer;
            transition: all 0.8s ease-in-out;
        }
        div {
            position: absolute;
            top: 45px;
            left: 150px;
            color: black;
            transition: all 0.4s ease-in-out;
            z-index: -1;
            font-size: 20px;
        }

        &:hover {
            div {
                transform: translateX(80px);
                color: white;
            }
            img {
                transform: translateX(-20px);
            }
        }
    }

    .navbarElements {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        list-style: none;
        margin-right: 65px;
    }
}

.sideDrawer {
    display: none !important;
}

.nav-item {
    text-align: center;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-size: 1.25em;
    margin: 0rem 2rem 0rem 2rem;
    text-shadow: 0px 4px 7px rgba(255, 255, 255, 0.28);
    text-decoration: none;
    padding: 7px 0px;
    color: white;
    position: relative;

    &::after {
        content: "";
        background-color: rgba(255, 255, 255, 0.809);
        height: 2px;
        position: absolute;
        width: 0%;
        bottom: -5px;
        left: 0;
        transition: all 0.2s ease-in-out;
    }
    &:hover {
        &::after {
            width: 105%;
        }
    }
}

/* option tray */
.toggleButton {
    height: 25px;
    width: 40px;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 10px;
}

.toggleButton:focus {
    outline: none;
}

.toggleButtonLine {
    width: 40px;
    height: 2.5px;
    border-radius: 1px;
    background-color: white;
    transition: all 0.5s ease-in-out;
}

.cross {
    background-color: black;

    &:nth-child(2) {
        opacity: 0;
    }

    &:nth-child(1) {
        transform: rotate(36deg);
        transform-origin: left;
    }
    &:nth-child(3) {
        transform: rotate(-36deg);
        transform-origin: left;
    }
}

/* Responsive */

@media only screen and (max-width: 1200px) {
    .navbar {
        font-size: calc(12px + 0.15vw);
    }
}

@media only screen and (max-width: 992px) {
    .navbar {
        font-size: calc(10px + 0.15vw);
    }
}

@media (max-width: 768px) {
    .navbar {
        font-size: 16px;
        z-index: 10000;

        .navabarLogo {
            margin-left: 30px !important;

            div {
                display: none;
            }

            &:hover {
                div {
                    transform: none !important;
                }
                img {
                    transform: none !important;
                }
            }
        }

        .sideBarHide {
            transform: translateX(100%) !important;
        }

        .sideDrawer {
            margin-right: 30px;
            display: block !important;
            z-index: 101;
        }

        .nav-item-slide {
            transform: translateX(50%) !important;
        }

        .navbarElements {
            position: fixed;
            transform: translateX(0%);
            transition: all 0.6s ease-in-out;
            margin-right: 0 !important;
            inset: 0 0 0 30%;
            background-color: rgba(255, 255, 255, 0.8);
            flex-direction: column !important;
            padding: 8rem 0.5px;
            border-radius: 5px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            transform: translateX(0%);

            @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
                .modal {
                    -webkit-backdrop-filter: blur(10px);
                    backdrop-filter: blur(10px);
                    background-color: rgba(255, 255, 255, 0.5);
                }
                .warning {
                    display: none;
                }
            }

            .nav-item {
                transition: all 0.8s ease-in-out;
                transform: translateX(0%);
                &:nth-child(1) {
                    transition-delay: 0s;
                }
                &:nth-child(2) {
                    transition-delay: 0.2s;
                }
                &:nth-child(3) {
                    transition-delay: 0.4s;
                }
                &:nth-child(4) {
                    transition-delay: 0.6s;
                }
                &::after {
                    display: none;
                }
            }

            li {
                padding: 2rem 0px;
                color: black;
                z-index: inherit;
                font-weight: 700;
            }
        }
    }
}

@media (max-width: 992px) {
    .navbar {
        margin-top: 0;
    }
    .navabarLogo {
        margin-left: 20px !important;
    }
}

@media (max-width: 576px) {
    .navbar {
        margin-top: 0;
    }
    .navabarLogo{
        margin-left: 0;
        img{
            margin-left: 0px !important;
            width: 70px !important;
        }
    }
    .sideDrawer {
        margin-right: 20px !important;
        .toggleButton{
            transform:scale(0.7)
        }
    }
}
