@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "glitch-city";
  src: url("../../fonts/glitch-city.ttf");
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  margin-top: 40px;
  padding: 10px 0px;
  background-color: black;
  z-index: 10000;
}

.navbar .navabarLogo {
  margin-left: 150px;
  background-color: transparent;
}

.navbar .navabarLogo img {
  width: 100px;
  cursor: pointer;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.navbar .navabarLogo div {
  position: absolute;
  top: 45px;
  left: 150px;
  color: black;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: -1;
  font-size: 20px;
}

.navbar .navabarLogo:hover div {
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
  color: white;
}

.navbar .navabarLogo:hover img {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.navbar .navbarElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-right: 65px;
}

.navbar .navbarElements li {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 0rem 2rem 0rem 2rem;
  text-shadow: 0px 4px 7px rgba(255, 255, 255, 0.28);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.sideDrawer {
  display: none !important;
}

.nav-item {
  text-decoration: none;
  padding: 7px 0px;
  color: white;
  position: relative;
}

.nav-item::after {
  padding: 7px 10px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "glitch-city";
  width: 0%;
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.06, 0.94, 0.78);
  transition: all 0.3s cubic-bezier(0.37, 0.06, 0.94, 0.78);
}

.nav-item:nth-child(1)::after {
  content: "Home";
  text-transform: uppercase;
}

.nav-item:nth-child(2)::after {
  content: "Technology";
  text-transform: uppercase;
}

.nav-item:nth-child(3)::after {
  content: "Contact Us";
  text-transform: uppercase;
}

.nav-item:nth-child(4)::after {
  content: "Blogs";
  text-transform: uppercase;
}

.nav-item:hover::after {
  width: 100%;
  opacity: 1;
}

/* option tray */
.toggleButton {
  height: 25px;
  width: 40px;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  margin-right: 10px;
}

.toggleButton:focus {
  outline: none;
}

.toggleButtonLine {
  width: 40px;
  height: 2.5px;
  border-radius: 1px;
  background-color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.cross {
  background-color: black;
}

.cross:nth-child(2) {
  opacity: 0;
}

.cross:nth-child(1) {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.cross:nth-child(3) {
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    z-index: 10000;
  }
  .navbar .navabarLogo {
    margin-left: 30px !important;
  }
  .navbar .navabarLogo div {
    display: none;
  }
  .navbar .navabarLogo:hover div {
    -webkit-transform: none !important;
            transform: none !important;
  }
  .navbar .navabarLogo:hover img {
    -webkit-transform: none !important;
            transform: none !important;
  }
  .navbar .sideBarHide {
    -webkit-transform: translateX(100%) !important;
            transform: translateX(100%) !important;
  }
  .navbar .sideDrawer {
    margin-right: 30px;
    display: block !important;
    z-index: 101;
  }
  .navbar .nav-item-slide {
    -webkit-transform: translateX(50%) !important;
            transform: translateX(50%) !important;
  }
  .navbar .navbarElements {
    position: fixed;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    margin-right: 0 !important;
    inset: 0 0 0 30%;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding: 8rem 0.5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transform: translateX(0%);
  }
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .navbar .navbarElements .modal {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.5);
    }
    .navbar .navbarElements .warning {
      display: none;
    }
  }
  .navbar .navbarElements .nav-item {
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .navbar .navbarElements .nav-item:nth-child(1) {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .navbar .navbarElements .nav-item:nth-child(2) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .navbar .navbarElements .nav-item:nth-child(3) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .navbar .navbarElements .nav-item:nth-child(4) {
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .navbar .navbarElements li {
    padding: 2rem 0px;
    color: black;
    z-index: inherit;
    font-weight: 700;
  }
}

@media (max-width: 992px) {
  .navabarLogo {
    margin-left: 75px !important;
  }
}

@media (max-width: 576px) {
  .sideDrawer {
    margin-right: 20px !important;
  }
}
/*# sourceMappingURL=navbar.css.map */