@font-face {
    font-family: "NunitoSans";
    font-style: "Black";
    font-weight: 800;
    src: url("../../fonts/nunito-sans/NunitoSans-ExtraBold.ttf");
}

@font-face {
    font-family: "NunitoSans";
    font-style: "Regular";
    font-weight: 400;
    src: url("../../fonts/nunito-sans/NunitoSans-Regular.ttf");
}

@font-face {
    font-family: "NunitoSans";
    font-style: "ExtraLight";
    font-weight: 300;
    src: url("../../fonts/nunito-sans/NunitoSans-ExtraLight.ttf");
}

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-440px * 3))}
}

@keyframes arrowSidewise{
    0% {
        transform: translateX(-3px);
    }
    50% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(-3px);
    }
}

.whyUsWrapper{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "NunitoSans";
    font-size: 20px;
    margin: 40px 100px;
    .whyUsTop{
        display: flex;
        align-items: center;
        margin: 80px 100px 40px 100px;
        .whyUsTopLeft{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;
            p{
                width: 60%;
            }
            :nth-child(1){
                font-weight: 800;
                font-size: 58px;
                text-transform: uppercase;
            }
            :nth-child(2){
                font-weight: 800;
                font-size: 40px;
                text-transform: uppercase;
            }
            :nth-child(3){
                font-style: normal;
                font-weight: 300;
            }
        }
        .whyUsTopRight{
            flex: 1;
            font-weight: 300;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            font-size: 16px;
            margin-bottom: 40px;
            
            .card {
                transition: transform 2s;
                transform-style: preserve-3d;
                width: 60%;
                height: 250px;
            }

            .flipCard{
                transform: rotateY(180deg);
            }
              
            .front, .back {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                backface-visibility: hidden;
                background-color: white;
                border-radius: 4px;
                color: black;
                height: 280px;
                padding: 20px 20px;
                
                .cardContent{
                    :nth-child(1){
                        font-weight: 800;
                        text-align: center;
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                    :nth-child(3){
                        font-style: italic;
                    }
                }
                .cardNextButton{
                    display: flex;
                    justify-content: end;
                    cursor: pointer;
                    animation: arrowSidewise 1s linear infinite;
                }   
            }
              
            //   .front {
            //     border: 2px solid red;
            //   }
              
            .back {
                transform: rotateY(180deg);
            }
        }
    }

    .whyUsBottomWrapper{
        margin: 0 -100px 0 -100px;
        .whyUsThriftyLogo{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 170px;
            }
        }
        .whyUsBottom{
            padding: 40px 0;
            background-color: white;
            width: 100%;
            .carouselDesktop{
                width: 100%;
                display: flex;
                justify-content: space-around;
            }
        }
    }
}
.whyUsDesign{
    width: 100vw;
    max-width:100%; 
    position: relative;
    top: 10px;
}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
	background: black;
	margin: auto;
	overflow:hidden;
	position: relative;
    border-radius: 3px;
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		// width: calc(440px * 6); 
	}
	
	.slide {
		// height: 250px;
		width: 340px;
        height: 172px;
        margin-right: 100px;
	}
}
.slider{
    display: none !important;
}

@media(max-width: 1800px){
    .whyUsTopLeft{
        p{
            width: 80% !important;
        }
    }
    .card{
        width: 80% !important;
    }
}
    
@media(max-width: 1400px){
    .whyUsTop{
        flex-direction: column;
        align-items: normal !important;
        .whyUsTopLeft{
            p{
                text-align: center;
                width: 100% !important;
            }
        }
    }
    .card{
        min-width: 340px;
        max-width: 400px;
        font-size: 13px !important;
    }
    .whyUsBottomLeft{
        display: none !important;
    }
    .whyUsBottomRight{
        margin-right: 0 !important;
    }
    .whyUsDesign{
        left: 0;
    }
}

@media(max-width: 1200px){
    .whyUsBottom{
        justify-content: center;
    }
    .carouselDesktop{
        display: none !important;
    }
    .whyUsBottomLeft{
        display: none !important;
    }
    .whyUsBottomRight{
        margin-right: 0 !important;
    }
    .slider{
        display: block !important;
    }
    .whyUsBottom{
        background-color: black !important;
    }
    .whyUsDesign{
        display: none !important;
    }
}

@media(max-width: 992px){
    .whyUsWrapper{
        margin: 0 !important;
    }
    .whyUsTop{
        margin: 40px 20px;
    }
    .whyUsTop{
        margin: 20px !important;
    }
}
    