@font-face {
    font-family: "NunitoSans";
    font-style: "Black";
    font-weight: 800;
    src: url("../../fonts/nunito-sans/NunitoSans-ExtraBold.ttf");
}
  
  @font-face {
    font-family: "NunitoSans";
    font-style: "Regular";
    font-weight: 400;
    src: url("../../fonts/nunito-sans/NunitoSans-Regular.ttf");
}
  
  @font-face {
    font-family: "NunitoSans";
    font-style: "ExtraLight";
    font-weight: 300;
    src: url("../../fonts/nunito-sans/NunitoSans-ExtraLight.ttf");
}

.carouselComponentWrapper{
    margin: 0px 100px;
    font-family: "NunitoSans";
    font-style: normal;
}
.carouselTop{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    p:first-child{
        font-weight: 800;
        font-size: 58px;
        color: #FFFFFF;
        text-transform: uppercase;
        text-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
    }
}

.carouselContainer{
    display: flex;
    color: white;
    .carouselLeft{
        flex: 1;
        // border: 2px solid red;
        display: flex;
        align-items: center;
        font-weight: 800;
        font-size: 50px;
        padding-right: 40px;

    }
    .carouselMiddle{
        position: relative;
        flex: 1;
        display: flex;
        justify-content: center;
        // margin-bottom: 20px;
        .carouselSlides{
            height: calc(100vh - 110px);
            width: 100%;
            video{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .prev, .next{
            position: absolute;
            top: 50%;
            cursor: pointer;
            background-color: white;
            width: 44px;
            height: 30px;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 24px;
                height: 12px;
                position: relative;
            }
        }
        .prev{
            left: 0;
        }
        .next{
            right: 0;
        }
        .prev:active, .next:active{
            background-color: rgb(100, 100, 100);
        }
    }
    .carouselRight{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 150px 0 150px 40px;

        .carouselRightTop{
            margin-bottom: 80px;
            .carouselName{
                font-size: 35px;
                font-weight: 800;
            }
            .carouselDesignation{
                font-size: 20px;
                line-height: 2em;
            }
            .carouselDesc{
                font-size: 18px;
                font-weight: 300;
                margin-top: 3px;
            }
        }

        .carouselRightBottom{
            display: flex;
            justify-content: space-around;
        }
        .box{
            max-width: 5vw;
            min-height: 5vw;
            cursor: pointer;
            border-radius: 6px;
            box-shadow: 0px 0px 13px 1px rgba(100,100,100,0.75);
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 6px;

            }
        }
        .boxActive{
            box-shadow: 0px 0px 13px 1px rgba(133, 162, 232, 0.75);
        }
    }
}

@media (max-width: 1200px) {
    .carouselComponentWrapper{
        margin: 20px 20px;
        .carouselTopHeading{
            font-size: 42px !important;
            text-align: center;
        }
        .carouselContainer{
            .carouselLeft{
                font-size: 30px;
            }
            .carouselMiddle{
                .carouselSlides{
                    height: 400px;
                }
                .prev, .next{
                    width: 35px;
                    height: 24px;
                    img{
                        width: 13px;
                        height: 7px;
                    }
                }
            }
            .carouselRight{
                padding: 20px 0 20px 40px;

                .carouselName{
                    font-size: 25px;
                }
                .carouselDesignation{
                    font-size: 22px;
                }
            }
        }
    }
  }
  
  @media (max-width: 992px){
      .carouselContainer{
          flex-direction: column;
          align-items: center;
          .carouselLeft{
              padding: 0;
              margin-bottom: 20px;
              p{
                  text-align: center;
              }
          }
          .carouselMiddle{
              width: 350px;
              margin-bottom: 20px;
          }
          .carouselRight{
              padding-left: 0 !important;
              align-items: center;
              .carouselRightTop{
                  margin-bottom: 20px;
                  p{
                      text-align: center;
                  }
              }
              .carouselRightBottom{
                  width: 450px;
              }
              .box{
                  min-height: 75px;
                  min-width: 75px;
              }
          }
      }
    
  }

  @media (max-width: 768px){
    .carouselRightBottom{
        width: 340px !important;
    }
  }
  
  @media (max-width: 360px){
   
  }
  