@font-face {
  font-family: "NunitoSans";
  font-style: "Black";
  font-weight: 800;
  src: url("../../fonts/nunito-sans/NunitoSans-ExtraBold.ttf");
}

@font-face {
  font-family: "NunitoSans";
  font-style: "Regular";
  font-weight: 400;
  src: url("../../fonts/nunito-sans/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: "NunitoSans";
  font-style: "ExtraLight";
  font-weight: 300;
  src: url("../../fonts/nunito-sans/NunitoSans-ExtraLight.ttf");
}

.carouselComponentWrapper {
  margin: 20px 40px;
  font-family: "NunitoSans";
  font-style: normal;
}

.carouselTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.carouselTop p:first-child {
  font-weight: 800;
  font-size: 58px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
}

.carouselContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.carouselContainer .carouselLeft {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  font-size: 40px;
  padding-right: 40px;
}

.carouselContainer .carouselMiddle {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carouselContainer .carouselMiddle .carouselSlides {
  height: calc(100vh - 110px);
  width: 70%;
}

.carouselContainer .carouselMiddle .carouselSlides video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.carouselContainer .carouselMiddle .prev, .carouselContainer .carouselMiddle .next {
  position: absolute;
  top: 50%;
  cursor: pointer;
  background-color: white;
  width: 44px;
  height: 30px;
  border-radius: 2px;
}

.carouselContainer .carouselMiddle .prev img, .carouselContainer .carouselMiddle .next img {
  width: 30px;
  height: 15.78px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.carouselContainer .carouselMiddle .prev {
  left: 0;
}

.carouselContainer .carouselMiddle .next {
  right: 0;
}

.carouselContainer .carouselMiddle .prev:active, .carouselContainer .carouselMiddle .next:active {
  background-color: #646464;
}

.carouselContainer .carouselRight {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.carouselContainer .carouselRight .carouselRightTop .carouselName {
  font-size: 35px;
  font-weight: 800;
}

.carouselContainer .carouselRight .carouselRightTop .carouselDesignation {
  font-size: 25px;
}

.carouselContainer .carouselRight .carouselRightTop .carouselDesc {
  font-size: 20px;
}

.carouselContainer .carouselRight .carouselRightBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.carouselContainer .carouselRight .box {
  max-width: 95px;
  min-height: 95px;
  cursor: pointer;
  border-radius: 6px;
  -webkit-box-shadow: 10px 10px 25px -7px rgba(100, 100, 100, 0.75);
          box-shadow: 10px 10px 25px -7px rgba(100, 100, 100, 0.75);
}

.carouselContainer .carouselRight .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.carouselContainer .carouselRight .boxActive {
  -webkit-box-shadow: 10px 10px 25px -7px rgba(133, 162, 232, 0.75);
          box-shadow: 10px 10px 25px -7px rgba(133, 162, 232, 0.75);
}
/*# sourceMappingURL=carousel.css.map */