@font-face {
	font-family: "NunitoSans";
	font-style: "Regular";
	font-weight: 400;
	src: url("../../fonts/nunito-sans/NunitoSans-Regular.ttf");
}

.container {
	max-width: 1170px;
	margin: auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
ul {
	list-style: none;
}

.footer {
	background-color: #191919;
	min-width: 320px;
	font-family: "NunitoSans";
	display: block;

	background-color: #191919;
}
.footer-col {
	width: 33%;
	padding: 0 15px;
	padding-bottom: 5%;
	padding-left: 8%;
	padding-top: 4%;
	font-family: "NunitoSans";
}

.arrow span {
	position: absolute;
	width: 10px;
	height: 10px;
	border: 2px solid #faf8f8;
	left: 47%;
	transform: rotate(-45deg);
	border-left: none;
	border-bottom: none;
}

.footer-col h4 {
	font-size: 18px;
	color: aliceblue;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}
#mail {
	color: #ffffff;
}
.footer-col ul li a {
	font-size: 16px;

	color: #fff7f757;
	text-decoration: none;
	font-weight: 300;
	background-color: #191919;
	display: block;
	transition: all 0.3s ease;
	list-style: none;
}
.footer-col ul li a:hover {
	padding-left: 8px;
}
.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.705);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: rgb(24, 25, 26);

	transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
	color: #ffffff;
}
li {
	color: #fff7f757;
}

.footer-waves {
	min-width: 320px;
	overflow: hidden;
}

.copyright {
	width: 100%;
	background: #191919;
	text-align: center;
	font-size: 15px;
	color: aliceblue;
}
.back a {
	background: #191919;
	text-align: center;
	font-size: 15px;
	padding-left: 75%;
	color: rgb(255, 255, 255);
}

footer .footer-waves img,
footer .footer-waves video {
	width: 104%;
	margin-left: -4%;
}

/*responsive*/
@media (max-width: 768px) {
	.footer-col {
		width: 20%;
	}
}
@media (max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}
